#rewardUI {
    width: 300px;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}
